$bg-green: #85D4C4;
$bg-pink: #F58695;
$grey-color: #3E3E3E;
$white: #fff;
$font-primary:'Lato', sans-serif;
//
@mixin justify-center {
    justify-self: center;
}
//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
//
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-family: $font-primary;
}
.container {
    display: grid;
    grid-template-rows: 7rem minmax(min-content, max-content) minmax(min-content, 70rem);
    grid-template-columns: 1fr;
}